---
import { Image } from "astro:assets";

const { id, icon, title, description, image, className } = Astro.props;
---

<a
  href={`/proyectos/${id}`}
  class={`row-span-1 rounded-xl group/bento hover:shadow-xl transition duration-200 shadow-input dark:shadow-none p-4 bg-slate-600/20 hover:bg-slate-500/20 dark:border-white/[0.2] border border-transparent justify-between flex flex-col space-y-4 cursor-pointer ${className}`}
>
  <div style={`view-transition-name: image-${id}`} class="w-full max-h-[130px]">
    <Image
      src={image}
      width={260}
      height={130}
      alt=""
      loading={"eager"}
      class="object-cover w-full h-full object-top"
    />
  </div>

  <div
    style={`view-transition-name: svg-${id}`}
    class="group-hover/bento:translate-x-2 transition duration-200"
  >
    <Image src={icon} width={30} height={30} alt="" loading={"eager"} />
    <div
      style={`view-transition-name: title-${id}`}
      class="font-sans font-bold text-neutral-600 dark:text-neutral-200 mb-2 mt-2"
    >
      {title}
    </div>
    <div
      style={`view-transition-name: description-${id}`}
      class="font-sans font-normal text-neutral-600 text-xs dark:text-neutral-300 line-clamp-1"
    >
      {description}
    </div>
  </div>
</a>
