---
import Layout from "../../layouts/Layout.astro";
import { projectData } from "../../components/projectData.astro";
import { Image } from "astro:assets";
const { proyecto } = Astro.params;
const info = projectData.find((item) => item.id === Number(proyecto));

if (!info) return Astro.redirect("/");
---

<Layout title={`Proyecto: ${info.title}`}>
  <section style={`view-transition-name: form`} class="max-w-3xl mx-auto">
    <h1
      style={`view-transition-name: title-${info.id} view-transition-name: title`}
      class="text-center font-bold text-4xl mb-12"
    >
      {info.title}
    </h1>
    <div
      style={`view-transition-name: svg-${info.id}`}
      class="flex gap-x-2 mb-6"
    >
      {
        info.svg2 && (
          <>
            <Image
              src={info.svg1}
              loading={"eager"}
              height={30}
              width={30}
              alt=""
            />
            <Image
              src={info.svg2}
              loading={"eager"}
              height={30}
              width={30}
              alt=""
            />
          </>
        )
      }
      {
        info.svg3 && (
          <Image
            src={info.svg3}
            height={30}
            width={30}
            loading={"eager"}
            alt=""
          />
        )
      }
    </div>
    <p class="text-yellow-50">Click en la imagen para ir al sitio.</p>
    <a href={info.link} target="_blank">
      <Image
        width={760}
        height={376}
        src={info.image}
        alt={`Proyecto: ${info.image}`}
        loading={"eager"}
        class="mx-auto lg:aspect-[600px/800px] rounded hover:shadow-xl transition-all hover:shadow-slate-800 cursor-pointer mb-6 shadow"
        style={`view-transition-name: image-${info.id}`}
      />
    </a>

    <div
      class="bg-white bg-opacity-10 backdrop-blur-sm p-4 rounded-md shadow text-pretty"
    >
      <p
        style={`view-transition-name: description-${info.id} view-transition-name: form`}
        class="text-lg mb-12"
      >
        {info.description}
      </p>
    </div>
  </section>
</Layout>
